.navbar-nav{
	padding-right: 2%

}
.navbar-brand{
	padding-right: 2%

}
div.container{
	width:80%;
	margin:auto;
}

#page{
	position: relative;
	min-height: 100vh;
}

#content{
	padding-bottom: 2.5rem;
}

html {
	height: 100%;
}
body {
	font-family: 'Open Sans';font-size: 22px;
	padding: 0;
	margin: 0;
	min-height: 100%;
	display: grid;
	grid-template-rows: 1fr auto;
	overflow-x: hidden;
}
.footer {
	grid-row-start: 2;
	grid-row-end: 3;

}
 

/* Menu Name and Banner*/
 
#banner{
	position: relative;
	text-align: center;
	font-family: 'Courgette', bold, cursive;
	font-size: 5vw;
	font-weight: bold;
}

#underline{
	text-align: center;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, 0%);
}



/* Menu Items*/

#menu{
    margin-left: 0.7%;
	margin-right: 0.7%;
	padding-top: 12%;
}

.card{
    margin-bottom: 9%;
    line-height: 1.5rem;
}

.card-img-top{
    height: 50vh;
    width: 5vw;
}

.card-body{
    background-color: rgb(235, 235, 235);
}

.btn {
    width: 100%;
    padding: 10%;
}

